*{
    font-family: 'Inter';
    color: white;
}

section > div > h2{
    font-weight: 300;
}

section{
    background-color: #1E1E1E;
    
}

.colored-icon{
    background-color: #0dcaf0;
    font-size: 2rem;
}

div.col-md-4 > P{
    text-align: left;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-out;
}
.card-body{
    background-color: #0dcaf0;
}

h5.card-title{
    color: white;
}